*{
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background-color: #e8e8e8;
}
.text-custom-purple {
  color: #5C429E !important;
}

.rounded-custom{
  border-radius: 15px;
}

.width-custom-h{
  width: 520px;
  height: 300px;
}

.width-icons{
  width: 15px;
}

.width-custom-f{
  width: 350px;
  height: 300px;
}

.btn-primary{
  background-color: #A084E8 !important;
  border-color: #A084E8 !important;
  width: 90%;
}

.btn-primary:hover{
  background-color: #6c5ce7 !important;
  border-color: #6c5ce7 !important ;
}